.App {
  margin: 0px;
  padding: 0px;  
  min-height: 100vh !important;
}
button, input {
  outline: none;
  border: none;
  box-shadow: none !important;
}
.footer {
  left:0;
  bottom:0;
  right:0;
}
