.chatContainer{
    border-radius: 5px !important;
    border:none !important;
    outline: none;
    margin-bottom: 1rem;
}
.chatContainer:hover{
    width: 31rem;
}

.chatContainer:onclick{
    background-color: rgb(238, 238, 238);
}

.chatNamesContainer{
    border-radius: 5px !important;
}

.chatUserPhoto{ 
  vertical-align: middle;
  width: 6.25rem;
  height: 6.25rem;
  /* border-radius: 50%; */
}

.chatNames{
    margin-left: 1rem;
}

.chatIcon{
   size:10rem;
}