.edit-profile header {
  height: 5rem;
  background: linear-gradient(to right, #A00D26, rgba(90, 2, 2, 0.733));
}
/* label {
  margin-bottom: 1rem
} */
.labels {
  font-size: 13px;
  margin-bottom: 0
}
.edit-profile h1 {
  font-size: 50px;
  color: #F2EFEA;
  padding: 7px;
  padding-left: 100px;
  font-weight: 200 !important;
}