.edit-profile header {
  height: 5rem;
  /* background: linear-gradient(to right, #a00d26, rgba(90, 2, 2, 0.733)); */
  background-color: #A00D26

}
.container-profile {
  padding: 0px;
}
.edit-profile h1 {
  font-size: 40px;
  margin: auto;
  width: 20rem;
  color: #f2efea;
  padding: 12px;
  font-weight: 200 !important;
  text-align: center
}
.edit-row {
  margin: 30px;
  margin-bottom: 5px;
}
.labels {
  font-size: 13px;
  margin-bottom: 0;
}
.edit-inputs {
  height: 2rem;
  width: 90%;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ced4da;
}
.edit-select {
  height: 2rem;
  width: 90% !important;
}
.about-edit h3 {
  padding: 0px 5px 10px 5px;
  font-size: 14px;
}
.about-edit p {
  color: #747d88;
  font-size: 16px;
  padding: 5px;
}
.edit-btn,
.param-btn {
  background-color: #a00d26;
  width: 20rem;
  margin: auto;
  margin-right: 55px;
  border: none;
  height: 2rem;
}
.edit-btn:hover {
  background-color: #b80321;
  border: none;
}
.param-btn {
  margin-left: 50px;
  background-color: rgba(150, 116, 50, 0.21);
}
.parameters {
  width: 100%;
  padding: 30px;
  margin: 0;
  margin-top: 20px;
  background: rgba(193, 180, 154, 0.21);
  height: 15rem;
  border: 1px solid #747d88;
  border-bottom: none;
}
.parameters h2 {
  font-size: 40px;
  padding: 10px;
}
.profile-footer {
  width: 100%;
  height: 5rem;
  background: rgba(193, 180, 154, 0.21);
  border: 1px solid #747d88;
}
.delete-btn {
  background-color: transparent;
  padding-top: 20px;
  border: none;
  color: #a00d26;
  margin: auto;
  margin-right: 20px;
  width: 30%;
}
.delete-btn:hover {
  background-color: #b80321;
  color: black;
  border: none;
}

.delete-btn:focus {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  outline: none;
}

/* Blue border remove */
.edit-inputs {
  outline: none;
  box-shadow: none !important;
  border-bottom: 1px solid #ccc !important;
}
.edit-select,
textarea {
  outline: none;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

/* Small screens */

@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
  .edit-profile h1 {
    padding-left: 30px;
    font-size: 40px;
  }
  .edit-btn {
    margin: auto;
    margin-bottom: 10px;
  }
}
