
.chat-box{
  padding: 20px 50px ;
  box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);
}

.poster-messages{
  background-color: beige !important;
  padding: 20px ;
  border-radius: 5px;
}

.messageTextArea{
  box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);

}
.receiver-messages{
  padding: 20px;
  border-radius: 5px;
  background-color: #e7e7e7e1
}

.message{
 width: 60%;
}


.sendMessageBox{
  width: 60%;
  margin: 40px auto;

}

.submitMessage{
  display: block;
  width: 100%;
  background-color: #A00D26;
  color:white;
}


.submitMessage:hover{
  background-color: rgba(160, 13, 37, 0.856);
}


