.send {
	background-color: #a00d26;
	border: none;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	padding: 10px;
}
.send:hover {
	background-color: #b80321

}
.container-msg {
	
    width: 100%;
    margin: auto;
    margin-right: 65px;
}
