.poster-messages{
  border:solid 1px black;
  border-radius: 5px;
  padding:10px 35px;
  margin-left:5px;
  max-width: 650px;
  min-width: 200px;
  word-break:break-all;
}

.messaging{
  position:absolute;
  bottom:10px;
  width: 80%;
  margin-left:15px;
}

.btn-send{
  color:white!important;
  border: solid 1px white;
}

.btn-send:hover{
  background-color: white!important;
  color: #A00D26!important;
  border-color:white!important;
}

.txtbox-messages{
  margin-top:15px;
}

.txtAreaBgrnd{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #A00D26;
}

.chat-messages-box{
  margin-bottom: 100px!important;
}

.post-left{
  float: left;
}

.time-right{
  float: right; 
}

