.messages {
	padding: 20px;
}

.messages h1 {
	color: black;
}

.media {
	width: 500px;
	margin: 0 auto;
}

.media-body.message {

	padding: 10px;
}
.message {
	border: 1px solid grey !important
}

.media-body.message:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);

}