.navbar-style{
    background-color: white;
}

.font-link-navbar{
    padding-left: 10px;
}
.icons-navbar{
    background-color: transparent;
    margin-left:5px;
    color:#A00D26;
    border:0;
}

.link-navbar{
    color:black;
    text-decoration: none;
    max-width: 10px;
    max-height: 10px;
}

.link-navbar:hover,.icons-navbar:hover{
    color:#A00D26;
    text-decoration: none;
}

.link-navbar:hover, 
.link-navbar:focus, 
.link-navbar:active, 
.link-navbar.active{
    color:#A00D26;
}

.icons-navbar:hover, 
.icons-navbar:focus, 
.icons-navbar:active, 
.icons-navbar.active{
    color:#A00D26;
}


.dropDownLi:hover{
    background-color: #A00D26;
    color: white

}
