.navbar-style{
    background-color: white;
}

.icons-navbar{
    background-color: transparent;
    border: 0;
}

.link-navbar{
    color:black;
}


.link-navbar:hover, 
.link-navbar:focus, 
.link-navbar:active, 
.link-navbar.active{
    color:#A00D26;
}

.icons-navbar:hover, 
.icons-navbar:focus, 
.icons-navbar:active, 
.icons-navbar.active{
    color:#A00D26;
}


.dropDownLi:hover{
    background-color: #A00D26;
    color: white

}
