#main-nav {
    margin: auto;
    height: 15vh;
}

.navitem {
    font-size: 25px;
    margin: 20px 10px 5px 10px;
    padding: 5px;
    padding-top: 10px;
}

a {
    color: #000 !important;
}

a:hover {
    text-decoration: none;
    color: #A00D26 !important
}

.logo {
    width: 300px;
    height: 15vh;
    margin: 12px;
    background: url('.../../images/logo-grey.png') no-repeat; 
}