
.profile-page header {
  background: url('./images/profile.jpg') no-repeat right;
  background-color: #A00D26;
  color: white;
  padding: 30px 0;
  font-family: 'Work Sans';
  margin: 0 0 40px 0;
  }
  .profile-main {
    margin-bottom: 40px;
  }
  
  
  .profile-page img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  .profile-page {
    background:#F2EFEA;
    padding: 0 0 20px 0;
  }

  .matchBtn{
    width: 100%;
    height: 3rem;
    background-color: #A00D26;
    color: white;
  }
  
  .matchBtn:hover{
    background-color: rgb(207, 22, 53);
  }
  
  @media screen and (max-width: 768px) {
    .profile-page {
      text-align: center;
    }
  }
  /* Large laptops and desktops */
  @media only screen and (min-width : 1224px) {
    .profile-page header {
      margin: 0 0 80px 0;
    }
    .profile-main {
    margin-bottom: 90px;
  }
  }
  
  