body {
    margin: 0 !important;
    padding: 0 !important
}
.my-profile {
    height: 5rem;
    background: linear-gradient(to right, #A00D26, rgba(90, 2, 2, 0.733));
    /* background-color: #A00D26 */
}
.my-profile h1 {
    font-size: 50px;
    color: #F2EFEA;
    padding: 7px;
    padding-left: 100px;
    font-weight: 200 !important;
}
.main-profile {
 width: 100%;
 margin: 0 !important;
 background-color: #FFFFFF
}
.image-column-profile {   
    background-color: #FFFFFF;
    padding: 10px;
}
.image-profile {
    width: 100%;
    height: auto;
    min-height: 350px;
    border-radius: 50%;
    padding: 40px;
    padding-left: 60px;
    vertical-align: middle
}
.details-profile {
    background-color: #FFFFFF;
    padding: 10px;
}
.details-list-profile {
    padding: 35px;
    padding-top: 55px;
    font-size: 13px;
}
.details-list-profile li {
    padding: 6px;
}
.my-details-profile {
    color: #747D88;
    text-align: left
}
.about-profile {
    padding: 55px 60px 10px 10px;
    background-color: #FFFFFF;
    text-align: justify;
}
 .about-profile h3 {
    padding: 0px 5px 20px 5px;
    font-size: 16px;
}
.about-profile p {
    color: #747D88;
    font-size: 16px;
    padding: 5px;
}

.update-profile {
    margin: auto;
    margin-top: 40px;
}
.update-btn-profile {
    font-size: 16px;
    background-color: #A00D26;
    padding: 5px 30px 5px 30px;
    border-radius: .25rem;
    color: #F2EFEA;
}

/* Small screens */
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
    h1 {
        padding-left: 60px;
    }
    .image-profile {
        padding: 20px;
        min-height: 200px;
    }
    .about-profile {
        padding: 20px;
        margin-left: 10px;
    }
    .update-btn-profile {
        margin-bottom: 10px;
    }
}

