.result-item {
  margin: 10px;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);
}



.results-profile-img {
  border-radius: 50%;
  border: 2px solid #A00D26;
  vertical-align: middle;
  width: 6.25rem;
  height: 6.25rem;
}

.resultsRow{
  cursor: pointer;

}

.resultsRow:hover{
  box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);
}

@media screen and (max-width: 768px){
  .genderRow{
    display:none;
  }
  .ageRow{
    display: none;
  }
  .heightRow{
    display: none;
  }
}